*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*CONTENT*/
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  /*BACKGROUND*/

  --background-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222e;
  --bg-brand: #c58de7;
  --bg-gray: #3d3d3d;

  /*ACCENT*/

  --accent-pink: #d586e0;
  --accend-blue: #91a1fa;
  --accend-green: #77c0a1;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --font-Sora: "Sora", sans-serif;
  --font-RobotoFlex: "Roboto Flex", sans-serif;
  --font-Roboto: "Roboto Mono", monospace;
}

.padding-global {
  padding-inline: 2.1rem;
}
body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  background-color: #020202;
  color: var(--content-primary);

  font-family: var(--font-Sora);
}

.container {
  width: 100%;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 40%
    ),
    url(/assets/img/Shapes.png);

  background-position: center top;
  height: 100vh;
  margin: 0;
}

.text-gradient {
  background: linear-gradient(
    to right,
    var(--content-primary) 0%,
    var(--content-secondary) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
